.articlesContainer {
    margin-left: 5%;
    margin-top: 2%;
}
.articleTitle {
    font-weight: bold;
}
.buttonStyle1 {
    background: #705D4A;
    border-radius: 5px;
    height: 39px;
    color: #FFFFFF;
    
}
.buttonStyle2 {
    background: #FFFFFF;
    border-radius: 5px;
    color: #030303;
    height: 39px;
}
.main{
    margin-top:10%;
}
.newArticle {
    background: #FFFFFF;
    margin-bottom:1%;
    margin-left: 5%;  
    margin-top:1%;
    width: 90%;
}
.title{
    border-bottom: 1px solid #B7B7B7;
    color: #705D4A;
    width: 90%;
    margin-left: 5%;    
}
